include:
  - project: dau/ci/pyci
    file: .gitlab-ci-template.yml

test-3.13:
  extends: .test-3.13

build_sdist:
  extends: .build_sdist

test_sdist-3.13:
  extends: .test_sdist-3.13

assets:
  extends: .assets

testpypi:
  extends: .testpypi

pypi:
  extends: .pypi
