# Hidden files
.*
!.gitignore
!.readthedocs.yaml
!.github

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/doc/_generated
uv.lock
